<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>24130547176-nri7revciq49vksuq51d95pi84i162ci.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.24130547176-nri7revciq49vksuq51d95pi84i162ci</string>
	<key>API_KEY</key>
	<string>AIzaSyDzxLODDUfGnB_upgDtqzOxNQNR4oUwPxs</string>
	<key>GCM_SENDER_ID</key>
	<string>24130547176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tradelenda.ios</string>
	<key>PROJECT_ID</key>
	<string>tradelenda-app</string>
	<key>STORAGE_BUCKET</key>
	<string>tradelenda-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24130547176:ios:5ed8fa41a328d1cb1cc85d</string>
	<key>DATABASE_URL</key>
	<string>https://tradelenda-app-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>